// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/link/link';

@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700");
body {
  background: #232528;
  color: #aaa;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
img.logo {
  width: 200px;
}
a img {
  width: 150px;
  margin-top: 40px;
}
